body {
    margin: 0;
    padding: 0;
  }
  #map {
    width: 100vw;
    height: 100vh;
  }
  .shipTitle {
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;

  }
  .checkbox-list {
    display: none;
    position: absolute;
    flex-direction: column;
    column-count: 3;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 20%;
    background-color: #262626;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 40%;
    top: 0; /* Adjust the top value as needed */
    right: 20%; /* Adjust the right value as needed */
    z-index: 1000; /* Ensure it appears above the map */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    }

  .checkbox-list-ul li {
    margin-bottom: 5px;
    list-style-type: none;
    padding: 3px;
    
  }
  

  .checkbox-list-ul label {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #d9d9d9;
    cursor: pointer;
  }
  input[type="checkbox" i] {
    margin-bottom: 10px;
}

  .checkbox-list-ul input[type="checkbox"] + label::before {
    content: "\2610";
    display: inline-block;
    width: 1.3em;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: text-top;
  }

  .checkbox-list-ul input[type="checkbox"]:checked + label::before {
    content: "\2611";
  }
  .checkbox-list-ul input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    outline: none;
    vertical-align: middle;
    position: relative; 
    bottom: 1px; 
  }
  .checkbox-list-ul input[type="checkbox"]:checked {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  img {
    max-width: 200px;
  }
  .leaflet-popup-content .flag {
    margin: 0 auto; display:block;
    max-width: 100px;
    padding-bottom: 10px;
    
  }
  .leaflet-popup-content img { 
    margin: 0 auto; display:block; 
    
    
  }
  .leaflet-popup-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
  }
  .leaflet-popup-content-wrapper {
    background-color: rgb(240, 237, 237);
  }
  .leaflet-popup-tip {
  background-color: rgb(240, 237, 237);
  }
  .popup-fixed {
    position: fixed;
    top: auto;
    bottom: 0 !important;
    left: 0 !important;
    min-width: 300px;
    right: 70% !important;
    transform: none !important;
    margin: 0px;
    border-radius: 0;
  }
  .filter-container {
    position: fixed;
    width: 20%;
    height: 100%;
    top:0px;
    right: 0px;
    background-color: #262626;
    padding: 10px;
    border-radius: 0px;
    z-index: 1000;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 0;
    padding-right: 0;
    display: flex; /* Change display property to flex */
    flex-direction: column; /* Set direction as column */
    align-items: flex-start;
  }
  .filter-container h3 {
    color: #d9d9d9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 1.3em sans-serif;
    text-align: center;
    width: 100%;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
  }
  button {
    
    height: 10%;
    outline: rgb(220, 220, 220) solid 0;
    padding: 0 0 0 0;
    border: 0;
    background-color: #262626;
    color: #ccc;
    width: 100%;
  }
  button:hover {
    background-color: #4a4a4a;
   }

  #filter {
    margin-bottom: 11%;
  }
  .main-container {
    flex: 1 1;
    order: 2;
    display: flex;
  }

  @media (max-width: 1000px) {
    /* Add styles specific to smaller screens (e.g., mobile) */
    /* Adjust sizes, layout, etc. */
    b {
      /* Example styles for mobile */
      font-size: 2rem;
    }
    .checkbox-list {
        display: none;
        position: absolute;
        flex-direction: column;
        column-count: 3;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 35%;
        background-color: #262626;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 40%;
        top: 0; /* Adjust the top value as needed */
        right: 20%; /* Adjust the right value as needed */
        z-index: 1000; /* Ensure it appears above the map */
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
        }
    .checkbox-list-ul label {
        display: block;
        font-family: Arial, sans-serif;
        font-size: 2rem;
        color: #d9d9d9;
        cursor: pointer;
    }
    .filter-container h3 {
        color: #d9d9d9;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font: 3rem sans-serif;
        text-align: center;
        width: 100%;
        letter-spacing: 3px;
      }
    .popup-fixed {
        position: fixed;
        top: auto;
        bottom: 0 !important;
        left: 0 !important;
        min-width: 500px;
        right: 70% !important;
        transform: none !important;
        margin: 10px;
        border-radius: 0;
        padding-right: 0;
  }
    .shipTitle {
        font-weight: bolder;
        font-size: 4rem;
        text-align: center;
        padding-bottom: 10px;
    
        /* ... other mobile-specific styles ... */
    }
    .leaflet-popup-content .flag {
        margin: 0 auto; display:block;
        max-width: 300px;
        padding-bottom: 10px;
        margin-right: 0;
      }
    .leaflet-popup-content {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2rem;
  }
    .leaflet-popup-close-button{
        width: 100px;
  }
    button {
        font: 2.5rem sans-serif;
        letter-spacing: 2px;
    }
    img {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    
    
}
